* {
    box-sizing: border-box; /* aplica border-box a todos os elementos html, por defeito content-box*/
    margin: 0;  /*reset*/
    padding: 0;

}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    min-height: 100vh;

    display: flex;     /*display flex para alinhar conteudo em coluna, ao centro*/
    flex-direction: column;
    align-items: center;
    padding: 30px;
    gap: 30px; /*gap entre elementos filho do body (header e main)*/

}

h1 {
  font-family: Orbitron, sans-serif;
  font-size: 3rem; /* em relação ao elemento raiz "html", que por defeito tem 16px. Permite melhor responsividade*/
  color:  #2c3e50;
  
}

form {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
}

input[type="text"] { /*sintaxe para selecionar atributos um pouco diferente de JS*/
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem
}    

#buttonAdd {
    padding: 10px 20px;
    background-color: #2ecc71;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.4s; /*quando background muda de cor (ex: hover) , transição de 0.4s*/

}

#buttonAdd:hover { /*pseudo-classe para definir efeitos do hover*/
    background-color: #27ae60;
}


ul {
    list-style: none; /*retir itens por pontos*/
    width: 100%;
    max-width: 500px;
    min-width: 300px;
     
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1); /*sombreado nos itens da lista */
    
}

li span {
    flex: 1;
    font-size: 1rem;
}

li button {
    margin-left: 5px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;

}

li span {
    flex: 1;
    min-width: 0; /*msm que o conteudo seja maior, a dimensão do span não aumenta, não empurrando os restantes items (botoes) para a direita*/
    overflow-wrap: break-word; /*quando conteudo é maior que o tamanho do span, quebra linha*/
}

.btnCheck { /* Check */
    background-color: #3498db;
    color: white;
}
.btnCheck:hover {
    background-color: #2980b9;
}

.btnDelete { /* Delete */
    background-color: #e74c3c;
    color: white;
}
.btnDelete:hover {
    background-color: #c0392b;
}


.completed span {      /*classe para risca Tasks*/ /*seleciona todos os span que estejam dentro de um elemento com a classe completed*/
    text-decoration: line-through;
    color: gray;
    transform: scale(0.98); /*reduz escala dos itens da lista quando riscados*/
    transition: all 0.3s ease;
}


